project_id = "dpmyursjpbscrfbljtha"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
port = 54327
file_size_limit = "50MiB"

[auth]
enabled = true
port = 54328
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
security_update_user_attributes = false

[functions.setup-status]
verify_jwt = false

[functions.setup-admin]
verify_jwt = false

[functions.admin-security-api]
verify_jwt = false

[functions.applepay-upload]
verify_jwt = false

[functions.google-reviews-sync]
verify_jwt = false

[functions.integrations-upsert]
verify_jwt = false

[functions.secure-data-deletion-request]
verify_jwt = false

[functions.send-email]
verify_jwt = false

[functions.square-checkout]
verify_jwt = false

[functions.square-webhook]
verify_jwt = false

[functions.vault-management]
verify_jwt = false